
.content-holder__wrap {
    margin: 0;
    padding: 0;
    padding-top: 9rem;
}
.image-plus-text{
    background: url('../../../images/serv.jpg')  no-repeat center / cover;
    background-color: rgba(0, 0, 0, 0.52);
    /* background-blend-mode: darken; */
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 20px;
    background-size: cover;
}
.plus-text_heading{
z-index: 2;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    margin: 0;
    line-height: 1.3em;
    margin-bottom: 20px;
}
.plus-text_subheading {
    z-index: 2;
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin: 0;
}
.short-content {
    text-align: center;
    padding: 0 15%;
}
.short-content > p {
    padding-bottom: 1%;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.9em;
    margin-top: 3%;
}
.short-content > h3 {
    display: flex;
    justify-content: left;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    padding-right: 20%;
    line-height: 1.4em;
    margin-top: 3%;
    text-align: left;
}
.image-plus-form {
    background: url('../../../images/serv2.jpg')  no-repeat center / cover;
    background-color: rgba(0, 0, 0, 0.52);
    /* background-blend-mode: darken; */
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 20px;
    background-size: cover;
    margin: 3rem 0;
}
.image-plus-form >span:nth-child(1) {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
.image-plus-form >span:nth-child(2) {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin: 10px 0 25px;
    font-size: 1.3rem;
}

.form-inline {
    position: relative;
    z-index: 2;
}
.form-inline> div{
    display: flex;
    flex-direction: row;
}
.form-control-field{
    width: auto;
    height: auto;
    margin: 0;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 33px 0 0 33px;
    padding: 10px 15px;
    border: none;
    margin-bottom: 15px;
}
.form-control-btn{
    display: block;
    cursor: pointer;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 0 33px 33px 0;
    color: #fff;
    background: #9ec750;
    border: none;
}

@media screen and (max-width: 950px) {
    .content-holder__wrap {
        margin: 0;
        padding: 0;
        padding-top: 6rem;
    }
    .short-content {
        padding: 1rem;
    }
}